/** general styles **/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/camel.png'); /* Background from Pixabay (iamsushant) */
    background-size: 100%;
    font-family: 'Coda', cursive;
    color: #2d3c49;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Frijole', cursive;
    font-weight: 300;
    color: #45594B;
}

/** styles for the deck of cards **/

.deck {
    width: 660px;
    min-height: 680px;
    background: rgba(150, 170, 150, 0.5);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #45594B;
    font-size: 0;
    color: #45594B;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #E3DDB8;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #8BB29D;
    font-size: 33px;
}
.deck .card.disabled {
    pointer-events: none;
    opacity: 0.9;
}

/** styles for the score panel **/

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.hidden {
    opacity: 0.2;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#clock {
    display: inline-block;
    padding-left: 5em;
}

/** the end game modal styles **/

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #E3DDB8;
    border-radius: 10px;
    margin: auto;
    margin-top: 5vw;
    padding-top: 2vw;
    padding-bottom: 3vw;
    width: 60%;
    text-align: center;
}

#restart-btn {
    margin-top: 1vw;
    padding: 0.5em;
}

.modal-content #close {
    position: absolute;
    top: 1em;
    right: 1em;
    font-family: 'Frijole', cursive;
}

#final-stars li {
    display: inline-block;
}

button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #45594B;
    color: #EAE5D0;
}

/** footer styles **/

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#p {
    font-weight: 100;
    margin-top: -1em;
}

/** RESPONSIVE **/

@media screen and (max-width: 700px) {
    .score-panel {
        max-width: 100%;
    }
    .deck {
        width: 95vw;
        height: 100vw;
        padding: 5vw;
        min-height: 95vw;
    }
    .deck .card {
        width: 18vw;
        height: 18vw;
    }
    #modal {
        font-size: 0.8em;
    }
    .modal-content h1 {
        padding-top: 2vw;
        font-size: 4vw;
    }
    footer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 450px) {
    .modal-content {
        width: 70%;
        padding: 6vw;
    }
    .modal-content h1 {
        padding-top: 2vw;
    }
}

/** ANIMATIONS **/

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-3-29 14:48:45
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
          animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-29 14:58:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
